<template>
  <section class="float-start m-50">
    <TitleContent />
  </section>

  <section class="float-end mr-20 mt-10">
    <Logout />
  </section>

  <section class="clear-start">
    <Grid />
    <error />
  </section>


</template>

<script lang="ts">
import Error from "../components/Error.vue";
import TitleContent from "../components/Title.vue";
import Logout from "../components/Logout.vue";
import Grid from "../components/Grid.vue";

export default {
  components: {
    Error,
    TitleContent,
    Logout,
    Grid
  }
};
</script>