<template>

  <div class="p-6" v-for="country in countries">
    <img class="object-cover object-center  mb-2 lg:h-24 md:h-12 rounded-xl" v-bind:src="country.flag" alt="Flag">
    <h1 class="mx-auto mb-1 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
      {{ country.official_name }}
    </h1>
    <div class="mt-2">
      <a v-bind:href="country.map" target="_blank" class="inline-flex items-center  font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more"> Check on Map » </a>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import apiConfig from "../../api_config.json";

export default {
  name: "CountryCard",
  data() {
    return {
      countries: null
    };
  },
  mounted() {
    axios.get( apiConfig.apiUrl + 'list-countries',
    {
      headers: {
        "Content-type": "application/json",
        "API_KEY": apiConfig.apiKey
      }
    })
      .then(response => {
        this.countries = response.data;
      })
      .catch(error => {
        console.log(error);
      });
  },
};
</script>