<template>
  <section>
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-8xl" id="countries">
      <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-4">


        <country-card />


      </div>
    </div>
  </section>
</template>
<script lang="ts">
import CountryCard from "../components/CountryCard.vue";

export default {
  components: {
    CountryCard
  }
};
</script>