<template>
  <div class="text-gray-500 font-sans">
    <button @click="logout">Log out</button>
  </div>
</template>
<script>
import { useAuth0 } from '@auth0/auth0-vue';

export default {
  setup() {
    const { logout } = useAuth0();

    return {
      logout: () => {
        logout({ logoutParams: { returnTo: window.location.origin } });
      }
    };
  }
};
</script>