<template>
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl p-6">
      <span class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600">
          Countries of the World!
      </span>
  </h1>
</template>

<script lang="ts">
export default {
  name: "TitleContent"
};
</script>